{% extends 'website/account.html' %}

{% block side_content %}{% block phone_content %}

<div class="container" style="height: 100vh;">
    <hr>    
    <div class="container" sty>
        <div class="col-12">
            <div class="span fw-bold">To change your password, please enter the code sent to your email</div>
        </div>
        
    </div>
    <div class="container mt-2">
        <div class="col-12">
            <div class="span fw-bold">Code</div>
        </div>
        <div class="col-12">
            <div class="input-group">
            <div class="form-floating">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter code">
                    <button class="btn btn-outline-danger btn-small btn-rounded" type="button" id="button-addon2">Send</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-12 container">
        <div class="btn w-100 bg-success fw-bold" > Change Password</div>
    </div>
    </div>


{% endblock %}
{% endblock %}